:root {
  --accent-color: #2196f3;

  --logo-color: #000000;

  --title-text-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;

  --main-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --cards-bg-color: #eeeeee;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  width: 1600px;

  margin: 0 auto;
  padding: 0 auto;
}

.link {
  text-decoration: none;
}

.logo {
  color: var(--logo-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}

.web {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0px;
}

.section-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 95px;
  margin-bottom: 0px;
}

/* Header */
.header,
.nav,
.site-nav,
.contacts {
  display: flex;
}

.nav {
  margin-left: 215px;
  margin-right: 280px;
}

.site-nav,
.contacts {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contacts {
  margin-left: 0px;
  margin-right: 215px;
  
}

.nav .logo {
  margin: auto 45px auto 0px;
}

.nav .page.link,
.contacts .link {
  margin-left: 50px;
}

.site-nav .link,
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-text-color);
}

.link.current {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--main-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* main */
.main-content {
  display: flex;
  flex-direction: column;
}

/* Hero */
.hero {
  background-color: var(--second-bg-color);
  /* height: 600px; */
}

.hero-title {
  margin: 200px 450px 30px 450px;
}

.order-button {
  margin: 30px auto 200px auto;
}

.hero-title {
  color: var(--secondary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.order-button {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 32px;
}

/* qualities */
.qualities {
  display: flex;
  margin: 95px 215px 0px 185px;
}

.quality {
  width: 270px;
  margin-left: 30px;
}

.quality-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.quality-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  text-align: left;
}

/* portfolio */

.portfolios {
  display: flex;
  margin-top: 50px;
  margin-left: 215px;
  margin-bottom: 95px;
}

.portfolio {
  margin-right: 30px;
}

/* team */
.team-section {
  background-color: var(--third-bg-color);
}

.team {
  display: flex;
  margin-top: 50px;
  margin-left: 215px;
  margin-bottom: 95px;
}

.team-member {
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  text-align: center;
}

.team-member-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  margin-top: 30px;
  margin-bottom: 0px;
}

.team-member-position {
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  margin-top: 10px;
  margin-bottom: 30px;
}

/* footer */
.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 215px;
}

.footer .link {
  color: var(--secondary-text-color);
}

.addresses {
  margin-top: 20px;
}

.addresses .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
}

.address {
  margin-bottom: 10px;
}

/* portfolio page*/

/* filters */
.filters {
  display: flex;
  margin-top: 95px;
  margin-left: 495px;
}

.filter-button {
  background-color: var(--third-bg-color);
  color: var(--title-text-color);
  border-style: none;
  border-radius: 4px;

  font-style: normal;
  /* на макете указано значение 500, однако визуально подходит 600 */
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  margin-right: 10px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  cursor: pointer;
}

/* works */
.works {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 95px;
  margin-left: 215px;
}

.work {
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 36px;

  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 25px;
}

.work-text {
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.03em;

  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.work {
  border: 1px solid #eeeeee;
}
